################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocketServer/obj
/SocketServer/bin/Debug
/SocketClient/obj
/SocketClient/bin/Debug
/.vs
